
.no-underline {
  text-decoration: none !important;
}

.no-underline:hover {
  text-decoration: none !important;
}


@media (max-width: 576px) {
  .navbar .btn {
    width: 100%;
    text-align: center;
  }

  .navbar .d-flex {
    flex-direction: column;
    gap: 0.75rem;
    width: 100%;
    align-items: stretch;
  }
}
